@tailwind base;
@tailwind components;
@tailwind utilities;

.mySwiper .swiper-slide {
  transition: filter 1s ease-in-out, opacity 1s ease-in-out;
}

.mySwiper .swiper-slide-active {
  filter: blur(0);
  opacity: 1;
}

.mySwiper .swiper-slide-next,
.mySwiper .swiper-slide-prev {
  filter: blur(2px);
  opacity: 0.5;
}
.swiper-pagination-bullet {
 background-color: #D9D9D9 !important;
  width: 57px !important;
  height: 16px !important;
  border-radius: 8px !important;
  mix-blend-mode: difference !important;
}
.swiper-pagination-bullet-active {
  background-color: #fd6f00 !important;
}