@tailwind base;
@tailwind components;
@tailwind utilities;

.light
{
  --bodyBg:255, 255, 255;
  --textColor:0, 0, 0;
  --footerBg:84, 84, 84;
  --bolletBg:217, 217, 217;
  --footerBodyBg:#F8F8F8
}
.dark
{
  --bodyBg:30, 30, 30;
  --textColor:255, 255, 255;
  --footerBg:0, 0, 0;
  --bolletBg:217, 217, 217;
  --footerBodyBg:30, 30, 30;
}

.mySwiper .swiper-slide {
  transition: filter 1s ease-in-out, opacity 1s ease-in-out;
}

.mySwiper .swiper-slide-active {
  filter: blur(0);
  opacity: 1;
}

.mySwiper .swiper-slide-next,
.mySwiper .swiper-slide-prev {
  filter: blur(2px);
  opacity: 0.5;
}
.swiper-pagination-bullet {
 background-color: --bolletBg !important;
  width: 57px !important;
  height: 16px !important;
  border-radius: 8px !important;
  mix-blend-mode: difference !important;
}
.swiper-pagination-bullet-active {
  background-color: #fd6f00 !important;
}

